extends layout

block content
 
 form(action="/posts/" method="POST")
    label(for="username") Username: 
    input(type="text" id="username" name="username")
    label(for="information") Text: 
    input(type="text" id="information" name="information")
    button(type="submit") Sign in