extends layout

block content

 link(rel='stylesheet', href='../stylesheets/posts-list.css')

 .posts-list-container

  .phone-container

   .three-dots 
    .dot 
    .dot  
    .dot  

   .new-post-link 
    a(href="/posts/new") What is happening?

   .posts-container
    each post in allPosts
     .individual-post-container
      .username @#{post.author.username}
      .information #{post.information}
    
   .new-post-form-container
       form(action="/posts/new" method="POST" class="new-post-form")
           input(type="text" id="information" name="information" placeholder="Write a message") 
           button(type="submit") Send

