extends layout

block content

 link(rel='stylesheet', href='../stylesheets/posts-list.css')

 .new-post-link What is happening?

 .posts-container
  each post in allPosts
   .individual-post-container
    .username @#{post.author.username}
    .information #{post.information}