extends layout

block content

 link(rel='stylesheet', href='../stylesheets/posts-list.css')
 link(rel='stylesheet', href='../stylesheets/sign-up.css')


 

 
 .phone-container
  .three-dots 
   .dot 
   .dot  
   .dot  
  .sign-up-container
   form(action="/users/sign-up" method="POST")
    .username
     label(for="username") Username: 
     input(type="text" id="username" name="username")
    .password 
     label(for="password") Password: 
     input(type="text" id="password" name="password")
   
    
    button(type="submit") Sign up
   
    a(href="/users/log-in") Log in 